@mixin innerpage-container {
    width:100%;
    max-width:812px;
   
    margin:0 auto;
   
}
@mixin w-1200 {
    max-width:1200px;
}
@mixin innerpage-cont-height{
    
     min-height:calc(100vh - 90px);
}
@mixin sidemargin-innerpage-cont {
    @media #{$mq-1000-down} {
                margin-left:40px;
                margin-right:40px;
              }
   
}
@mixin innerpagetitle {
    @include swissblackcondensed;
    
    text-transform:uppercase;
  
    letter-spacing:-5px;
    font-size:80px;
    line-height:80%;
    margin-bottom:60px;
    margin-left:-2px;
    @include sidemargin-innerpage-cont;
    @media #{$mq-1000-down}{                  
                    font-size: 48px;
                    line-height: 80%;
                    margin-bottom:40px;
                    letter-spacing:-3px;
                }

}

@mixin innerpagesubtitle {
    font-size:20px;
    @include swissblackcondensed;
    margin-bottom:15px;
    line-height:100%;
    @include sidemargin-innerpage-cont;
    @media #{$mq-1000-down}{                  
                    font-size: 15px;
                    line-height: 16px;
                    
                }
}
@mixin innerpageintro {
    font-size:11px;
    line-height:13px;
    @include swissCondensed;
    max-width:100%;
    width:auto;
    @include sidemargin-innerpage-cont;
     @media #{$mq-760-up}{ 
         max-width:544px;
     }
    @media #{$mq-1000-up}{                  
                    font-size: 15px;
                    line-height:17px;
                    
                    width:100%;
                }
}

@mixin innerpagelist-cont{
    margin-top:60px;
    margin-bottom:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    @include sidemargin-innerpage-cont;
}

@mixin innerpage-list-item {
    text-align:center;
    width:50%;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
     
     @media #{$mq-620-up} {
         width:33.3%;
     }
   
      @media #{$mq-900-up} {
         width:16.6%;
     }
}
@mixin innerpage-copyright {
    @include swissCondensed;
      max-width:100%;
      letter-spacing:2px;
      text-align:center;
      font-size:10px;
    //   padding-bottom:50px;
      text-transform: uppercase;
      text-align:center;
    //   @media #{$mq-1000-down} {
    //               padding-bottom:25px;
    //            }
       
     }


     @mixin tile-mouseover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background: rgba(0,0,0,.7);
        display:flex;
        justify-content: flex-end;
        flex-direction: column;
     }
     @mixin tilemouseovercopyh2{
         
          @include swissBoldCondensed;
           color:#fff;
           padding-left:21px;
           text-transform:uppercase;
           font-size:20px;
           line-height:20px;  
     }

     @mixin tilemouseovercopyh3{
         
        @include swissCondensed;
        color:#f6921e;
        padding-left:21px;
        padding-bottom:16px;
        text-transform:uppercase;
        font-weight:normal;
        font-size:14px;
        line-height:20px;

     }

     @mixin tilemouseover_a {
        text-decoration:none;
        color:#fff;
        @include swissLightCondensed;
        padding-left:21px;
        padding-bottom:16px;
        text-transform:uppercase;
        position:relative;
        font-size:10px;
        line-height:14px;
     }
 @mixin tilemouseover_a_after {
      position: absolute;
      content:'';
      left:74px;
      top:4px;
      width:5px;
      height:5px;
      border-right:.5px solid #fff;
      border-top:.5px solid #fff;
      transform: rotate(45deg);

 }
 @mixin tile-mouseover-copy-anim-hover {
      transform:translateY(0px);
 }
@mixin tile-mouseover-copy-anim {
 transform:translateY(20px);  
 transition: all .4s ease-out 0s;  
}

 @mixin setMarginTop($val) {
margin-top:$val;
 }
  @mixin setMarginBottom($val) {
     margin-bottom:$val;
 }
@mixin setMarginLeft($val) {
     margin-left:$val;
 }
 @mixin setMarginRight($val) {
     margin-right:$val;
 }

  @mixin setPaddingTop($val) {
    padding-top:$val;
 }
  @mixin setPaddingBottom($val) {
     padding-bottom:$val;
 }
  @mixin setPaddingLeft($val) {
     padding-left:$val;
 }
 @mixin setPaddingRight($val) {
     padding-right:$val;
 }
            

 